# Ignore node_modules
node_modules
# Ignore logs
logs
*.log
npm-debug.log*

# Ignore test files
*.spec.js
*.test.js
coverage

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose*.yml

# Ignore git files
.git
.gitignore

# Ignore IDE files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
